{% extends "landingdong_html/template.html" %}
    {% block context %}
        {% load staticfiles %}

        <!--轮播图 关于我们 start-->
        <div class="swiper-container swiper-container-horizontal">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="{% static 'media/images/d9b8ce870793ddaafded85e21e2a0a8a.jpg' %}" class="img-sy"/>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
        </div>
        <script>
            var swiper = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination',
                paginationClickable: true
            });
        </script>
        <!--轮播图 关于我们 end-->

        <!--企业介绍 start-->
        <div class="company-js-box">
            <div class="container">
                <div class="bt-box">
                    <div class="bt-text1">企业介绍</div>
                    <div class="bt-eng">About us</div>
                </div>
                <div class="cjs-content">
                    {{ a_u.content }}
                </div>
            </div>
        </div>
        <!--企业介绍 end-->

        <!--发展历程 start-->
        <div class="delp-box-ab">
            <div class="container">
                <div class="bt-box">
                    <div class="bt-text1">发展历程</div>
                    <div class="bt-eng">Development History</div>
                </div>
                <div class="time-box">
                    {% for d in d_h %}
                        {% if d.year == '2016' %}
                            <a onclick="change_text(this);" class="tb-active">{{ d.year }}年</a>
                        {% else %}
                            <a onclick="change_text(this);">{{ d.year }}年</a>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="time-content">
                    <span>介入高端精品保洁业务</span>
                    <div class="dsj1"></div>
                </div>
            </div>
        </div>
        <script>
            function change_text(obj) {
                $(".time-box a").removeClass('tb-active');
                $(obj).addClass('tb-active');
                var content = $(obj).context.innerHTML;
                if (content == "2009年") {
                    $('.time-content span').html("家电设备清洗行业拓荒者");
                    $('.dsj1').css('left', '20%');
                } else if (content == "2012年") {
                    $('.time-content span').html("启动嵌入式家电专业清洗");
                    $('.dsj1').css('left', '30%');
                } else if (content == "2014年") {
                    $('.time-content span').html("启动大型商用设备清洁保养业务");
                    $('.dsj1').css('left', '39%');
                } else if (content == "2016年") {
                    $('.time-content span').html("介入高端精品保洁业务");
                    $('.dsj1').css('left', '49%');
                } else if (content == "2017年") {
                    $('.time-content span').html("推出综合清洁业务品牌洗当家");
                    $('.dsj1').css('left', '58.5%');
                } else if (content == "2018年") {
                    $('.time-content span').html("启动“服务+网络+商品”新模式");
                    $('.dsj1').css('left', '68%');
                } else if (content == "2019年") {
                    $('.time-content span').html("发布新品牌蓝叮咚");
                    $('.dsj1').css('left', '78%');
                }
            }
        </script>
        <!--发展历程 end-->

        <!--愿景 start-->
        <div class="container">

            {% for c in c_c %}
                    {% if c.title == "定位" %}
                        <div class="abqy-item3">
                            <div class="nei-box">
                                <div class="abqi-bt">{{ c.title }}</div>
                                <div class="abqi-img-3">
                                    <img src="{% static 'assets/ldd/images/about_us/' %}{{ c.title_logo }}" class="img-sy"/>
                                </div>
                                <div class="fl-cl"></div>
                                <div class="abqi-text2">
                                    {{ c.content }}
                                </div>
                                <div class="abqi-img2">
                                    <img src="{% static 'assets/ldd/images/about_us/ab_icon01.png' %}" class="img-sy"/>
                                </div>
                            </div>
                        </div>
                    {% elif c.title == '愿景' %}
                        <div class="abqy-item2">
                            <div class="nei-box">
                                 <div class="abqi-bt">{{ c.title }}</div>
                                <div class="abqi-img-3">
                                    <img src="{% static 'assets/ldd/images/about_us/' %}{{ c.title_logo }}" class="img-sy"/>
                                </div>
                                <div class="fl-cl"></div>
                                <div class="abqi-text2">
                                    {{ c.content }}
                                </div>
                                <div class="abqi-img2">
                                    <img src="{% static 'assets/ldd/images/about_us/ab_icon02.png' %}" class="img-sy"/>
                                </div>
                            </div>
                        </div>
                    {% elif c.title == '价值观' %}
                        <div class="abqy-item3">
                            <div class="nei-box">
                                 <div class="abqi-bt">{{ c.title }}</div>
                                <div class="abqi-img-3">
                                    <img src="{% static 'assets/ldd/images/about_us/' %}{{ c.title_logo }}" class="img-sy"/>
                                </div>
                                <div class="fl-cl"></div>
                                <div class="abqi-text2">
                                    {{ c.content }}
                                </div>
                                <div class="abqi-img2">
                                    <img src="{% static 'assets/ldd/images/about_us/ab_icon03.png' %}" class="img-sy"/>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            <div class="fl-cl"></div>
        </div>
        <!--愿景 end-->

        <!--团队风采 start-->
        <div class="ser-pro-al">
            <div class="container">
                <div class="bt-box">
                    <div class="bt-text1">团队风采</div>
                    <div class="bt-eng">Team Demeanor</div>
                </div>
                <!--轮播图 团队风采 start-->
                <div class="swiper-container swiper-container-horizontal swiper-container-al">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="{% static 'media/images/217ed08a9ca6c415dc2c6fb5b06f885f.jpg' %}" class="img-sy"/>
                        </div>
                    </div>
                    <div style="height: 70px;"></div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination-al swiper-pagination swiper-pagination-clickable swiper-pagination-bullets"></div>
                </div>

                <!--轮播图 团队风采 end-->
            </div>
        </div>
        <!--团队风采 end-->
    {% endblock context %}